// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

@import "@fortawesome/fontawesome-free/css/all.css";

// @tailwind base;
// @tailwind components;
// @tailwind utilities;

body {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}
main .container {
    min-height: 80vh;
}
.home {
    height: calc(100vh - 7rem);
    width: 100%;
    background-color: #76ec07;
    background: url(/public/storage/images/back.jpg);
    background-size: 100% 100%;
    position: relative;
}
.home .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0/ 70%);
}
.home .text {
    position: absolute;
    left: 25%;
    top: 35%;
    font-size: 20px;
    font-weight: 800px;
    transform: translateY(-50%);
    width: calc(60% - 30px);
    padding: 50px;
    background-color: var(--blue-color);
    color: white;
    display: flex;
}
.home .text .cont {
    max-width: 500px;
}
.home .text .arrow {
    // color: blue;
    color: #76ec07;
    font-size: 15px;
    text-align: center;
    font-weight: 900;
}
.footer {
    width: 100%;
    padding: 10px 70px 0 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer .copyrights span {
    font-weight: bold;
    color: blue;
}
.footer .left .copyrights {
    margin-bottom: 0 !important;
}
.department-row {
    text-align: center;
}
.department-img img {
    padding-top: 20px;
    width: 200px;
    height: 200px;
}

/////////////////////////////////////
///
///
///

.heading-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: -50px;
}
h4 {
    color: #0008f0;
}
input,
input[type="radio"] + label,
input[type="checkbox"] + label:before,
select option,
select {
    width: 100%;
    padding: 1em;
    line-height: 1.4;
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
input:focus {
    outline: 0;
    border-color: #bd8200;
}
input:focus + .input-icon i {
    color: #f0a500;
}
input:focus + .input-icon:after {
    border-right-color: #f0a500;
}
input[type="radio"] {
    display: none;
}
input[type="radio"] + label,
select {
    display: inline-block;
    width: 50%;
    text-align: center;
    border-radius: 0;
}
input[type="radio"] + label:first-of-type {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
input[type="radio"] + label:last-of-type {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
input[type="radio"] + label i {
    padding-right: 0.4em;
}
input[type="radio"]:checked + label,
input:checked + label:before,
select:focus,
select:active {
    background-color: #6800f0;
    color: #fff;
    border-color: #00bdaa;
}
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"] + label {
    position: relative;
    display: block;
    padding-left: 1.6em;
}
input[type="checkbox"] + label:before {
    position: absolute;
    top: 0.2em;
    left: 0;
    display: block;
    width: 1em;
    height: 1em;
    padding: 0;
    content: "";
}
input[type="checkbox"] + label:after {
    position: absolute;
    top: 0.45em;
    left: 0.2em;
    font-size: 0.8em;
    color: #fff;
    opacity: 0;
    font-family: FontAwesome;
    content: "\f00c";
}
input:checked + label:after {
    opacity: 1;
}
select {
    height: 3.4em;
    line-height: 2;
}
select:first-of-type {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
select:last-of-type {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
select:focus,
select:active {
    outline: 0;
}
select option {
    background-color: #f0a500;
    color: #fff;
}
.input-group {
    // for cancel bootstrap .row padding
    padding-left: calc(var(--bs-gutter-x) * -0.5);
    margin-bottom: 1em;
    zoom: 1;
}
.input-group:before,
.input-group:after {
    content: "";
    display: table;
}
.input-group:after {
    clear: both;
}
.input-group-icon {
    position: relative;
}
.input-group-icon input {
    padding-left: 4.4em;
}
.input-group-icon .input-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 3.4em;
    height: 3.4em;
    line-height: 3.4em;
    text-align: center;
    pointer-events: none;
}
.input-group-icon .input-icon:after {
    position: absolute;
    top: 0.6em;
    bottom: 0.6em;
    left: 3.4em;
    display: block;
    border-right: 1px solid #e5e5e5;
    content: "";
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.input-group-icon .input-icon i {
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.userappoint .container {
    max-width: 38em;
    padding: 1em 3em 2em 3em;
    margin: 0em auto;
    background-color: #fff;
    border-radius: 4.2px;
    box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
}
.userappoint .row {
    zoom: 1;
}
.userappoint .row:before,
.userappoint .row:after {
    content: "";
    display: table;
}
.userappoint.row:after {
    clear: both;
}
.col-half {
    padding-right: 10px;
    float: left;
    width: 50%;
}
.col-half:last-of-type {
    padding-right: 0;
}
.col-third {
    padding-right: 10px;
    float: left;
    width: 33.33333333%;
}
.col-third:last-of-type {
    padding-right: 0;
}
@media only screen and (max-width: 540px) {
    .col-half {
        width: 100%;
        padding-right: 0;
    }
    .home .text {
        width: 100%;
        left: 0;
        margin: 0;
        padding: 10px;
    }
    .home {
        // max-height: 100%;
        max-width: 540px;
    }
    .footer {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
    }
    .footer .left p {
        padding: 0;
        margin: 0;
    }
}

.top-row {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding: 15px;
    border: 1px solid gray;
    border-radius: 20px;
}

.card-icon {
    border-radius: 20px;
    background-color: #999;
    // margin-top: -24px;
    margin-top: -1.5rem;
    margin-right: 15px;
    float: left;
    height: 80px;
    width: 80px;
    background: linear-gradient(60deg, #26c6da, #00acc1);
}
.card-icon i {
    font-size: 36px;
    color: #fff;
}
.contact-icon {
    border-radius: 26px;
    background-color: #999;
    margin-right: 15px;
    float: left;
    width: 59px;
    background: white;
}
.contact-icon i {
    font-size: 36px;
    color: rgb(25, 15, 211);
}
.contact-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.required {
    color: red;
    vertical-align: -webkit-baseline-middle;
}

.message .img {
    background: #bb2bd4;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
